@font-face {
    font-family: 'myfont';
    src: url(/fonts/iannnnn-DOG-Bold.ttf);
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    font-family: 'myfont'
}

#page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 187, 168);
    border-radius: 25px;
    border: 1px solid rgb(112, 59, 45);
    width: 500px;        
    height: 500px;
}

.btn-yes {
    background-color: rgb(138, 207, 111);
    border-radius: 7px;
    border: 1px solid;
    font-family: 'myfont';
    margin-right: 15px;
    padding: 5px;
}

.btn-no {
    background-color: rgb(255, 94, 94);
    border-radius: 7px;
    border: 1px solid;
    font-family: 'myfont';
    padding: 5px;
}

.sub {
  text-align: center;
}

#bear {
    font-size: 8rem;
    position: relative;
    animation: mymove 1300ms infinite;
}

@keyframes mymove {
    0% {top: 0px;}
    50% {top: 13px;}
    100% {top: 0px;}
}

#pageyes {
    display: none;
}

#msno {
    visibility: hidden;
}